.signup {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.signup > input[type="email"] {
  border: 2px inset #777;
  border-radius: 2px;
  padding: 2px 4px;
}

.signup > button[type="submit"] {
  color: white;
  background: black;
  border: 2px inset black;
  border-radius: 2px;
  cursor: pointer;
}

.signup > button[type="submit"]:hover {
  background: #555;
}

.signup > button[type="submit"]:disabled {
  background: #777;
  border-color: #777;
}

.result {
  margin: unset;
  padding-inline: 8px;
  height: 32px;
  border: 2px inset #777;
  border-radius: 2px;
  display: flex;
  align-items: center;
  background-image: repeating-linear-gradient(#eee 0% 2%, #fff 2% 4%);
  background-size: 20px 20px;
  opacity: 0.9;
}
