.cincy {
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  padding: 2rem;
  padding-right: calc(64px + var(--toc-offset));
}

@media (max-width: 800px) {
  .cincy {
    padding-right: 64px;
  }
}

.h1 {
  margin-top: 0;
  font-family: var(--newsreader);
  font-size: 4rem;
  line-height: 1.1;
}

@media (max-width: 600px) {
  .h1 {
    font-size: 2.5rem;
  }
}

.form {
  label {
    display: block;
    margin-bottom: 1rem;
  }

  input {
    border: 1px solid black;
    border-radius: 0;
    padding: 4px;
    margin-right: 0.5rem;
    width: min(28ch, 100%);
  }

  button {
    padding: 4px 8px;
    background: black;
    color: white;
    border: 1px solid black;
    font-weight: 700;
  }
}

.startups {
  padding-left: 0;

  li {
    list-style: none;
    display: flex;
    gap: 0.5rem;

    button {
      padding: unset;
      background: unset;
      border: unset;
      cursor: pointer;
    }

    a {
      text-decoration: none;
    }
  }
}

.footer {
  position: absolute;
  bottom: 2rem;
  font-style: italic;
}
