.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 2px;
  overflow: hidden;
  animation: fadeIn 250ms ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.table th {
  padding: 4px 8px;
  border: 2px solid black;
  background: #eee;
  text-align: left;
  cursor: pointer;
}

.table td {
  padding: 4px 8px;
  border: 2px solid black;
}
