.page {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.main {
  max-width: 800px;
  margin: auto;
  padding: 24px;
}

.h1 > span {
  display: block;
  text-align: center;
}

.h1 > span:first-child {
  font-family: var(--newsreader);
  font-size: 4rem;
  line-height: 1.2;
}

.h1 > span:last-child {
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
}

.separator {
  text-align: center;
}

.code {
  padding: 2px;
  background: #ddd;
  border-radius: 2px;
  font-family: inherit;
}
