.header {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  font-size: 0.875rem;
}

header > .logo {
  border: 2px solid black;
  border-radius: 2px;
  padding: 2px;
  transform: translate(-5px, -5px);
}
