.footer {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-top: 48px;
}

.links {
  margin: 0px 2px;
  padding: unset;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.links > li {
  width: 180px;
  text-align: right;
}

.links > li:nth-child(1) {
  --bg: rgb(255, 75, 75);
  --brdr: rgb(200, 0, 0);
}

.links > li:nth-child(2) {
  --bg: rgb(255, 230, 60);
  --brdr: rgb(230, 200, 0);
}

.links > li:nth-child(3) {
  --bg: rgb(50, 140, 250);
  --brdr: rgb(0, 115, 250);
}

.links > li:nth-child(4) {
  --bg: rgb(50, 165, 100);
  --brdr: rgb(0, 140, 60);
}

.links > li:last-child {
  width: revert;
  position: relative;
  white-space: nowrap;
  padding: 4px 12px;
  color: white;
  background: #333;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 2px;
  border-left: none;
  border-right: none;
}

.links > li > a {
  padding: 4px 12px;
  display: block;
  text-decoration: none;
  border-width: 2px;
  border-style: solid;
  border-color: var(--brdr);
  border-radius: 2px;
  border-left: none;
  border-right: none;
  background: var(--bg);
  color: black;
}

.links > li > a:hover {
  background: var(--brdr);
  color: white;
}

.links > li > svg {
  position: absolute;
  top: -120px;
  left: 0px;
}

.books {
  list-style: none;
  padding: unset;
  margin: unset;
  display: flex;
  align-items: flex-end;
  gap: 1px;
}

.books > li {
  border: 2px solid black;
  border-radius: 2px;
}
