.grid {
  margin-block: unset;
  padding-left: unset;
  display: flex;
  flex-wrap: wrap;
}

.grid > li {
  flex-grow: 1;
  list-style: none;
}

li:has(.logo) {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
}

.logo {
  display: flex;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 0.5px solid #ddd;

  &:focus-visible {
    outline-color: black;
    outline-style: dotted;
  }
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

li:has(.question) {
  display: flex;
  justify-content: center;
}

.question {
  width: 100%;
  padding: 0 12px;
  background: transparent;
  border: 0.5px solid #ddd;
  border-left: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background: #ddd;
  }

  &:focus-visible {
    outline-color: black;
    outline-style: dotted;
  }
}

.what {
  margin-block: unset;
}

.desc {
  font-size: 0.875rem;

  & a {
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
  }
}

.tld {
  --r: rgb(255, 75, 75);
  --y: rgb(255, 230, 60);
  --b: rgb(50, 140, 250);
  --g: rgb(50, 165, 100);

  width: 100%;
  padding: 8px 12px;
  background: transparent;
  border: 0.5px solid #ddd;
  color: black;
  transition: background 2s ease, color 2s ease;
  cursor: pointer;

  &:hover {
    background: var(--bg, #ddd);
    color: var(--fg, black);
    transition: background 200ms ease;
  }

  &:focus-visible {
    outline-color: black;
    outline-style: dotted;
  }
}

.backdrop {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.2);
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  max-width: calc(100vw - 3rem);
  max-height: calc(100vh - 3rem);
  overflow-y: auto;
  padding: 1rem;
  border: 1px solid #ddd;
  outline: 12px solid white;
  background: white;
  transition: transform 200ms;

  &[data-starting-style] {
    transform: translate(-50%, -25%);
  }
}

.title {
  margin-block: unset;
  display: flex;
  gap: 1rem;
  align-items: center;

  & :last-child {
    font-size: 0.875rem;
    font-weight: 300;
    text-decoration: none;
    border: 1px dotted black;
    padding: 1px 8px;
    margin-top: -2px;

    &:hover {
      background: #ddd;
      color: black;
    }
  }
}

.description {
  margin-bottom: 1rem;

  & span:first-of-type {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 1rem;
    font-weight: 700;
  }

  & span:last-of-type {
    display: block;
    font-size: 0.875rem;
    font-style: italic;
  }

  & a:last-child {
    font-size: 0.875rem;
  }
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  color: #bbb;
  background: white;
  border: unset;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  font-size: 0.75rem;
  cursor: pointer;

  &:hover {
    background: #ddd;
    color: black;
  }
}

.wikiheader {
  margin-block: 0;

  button {
    width: calc(100% + 2rem);
    margin-left: -1rem;
    margin-bottom: -1rem;
    padding-block: 1px;
    padding-left: 1rem;
    background: #ddd;
    border: unset;
    border-top: 1px solid #ddd;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:focus-visible {
      outline: none;
      background: rgb(50, 140, 250);
    }

    & svg {
      margin-right: 0.5rem;
      transition: transform 200ms ease-out;

      [data-panel-open] > & {
        transform: rotate(90deg) scale(1.1);
      }
    }
  }
}

.wikipanel {
  overflow: hidden;
  margin-top: 1rem;
  margin-left: -1rem;
  padding: 1rem;
  padding-bottom: 0;
  width: calc(100% + 2rem);
  height: var(--accordion-panel-height);
  transition: height 200ms ease-out;

  &[data-starting-style],
  &[data-ending-style] {
    height: 0;
  }
}

.form {
  background: white;
  font-size: 0.75rem;

  & textarea {
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 5rem;
    margin-block: 0.5rem;
    border: 1px solid #ddd;
    padding: 2px 4px;
  }

  & input {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    padding: 2px 4px;
    margin-bottom: 0.5rem;

    &[type="submit"] {
      background: black;
      border: 1px solid black;
      color: white;
      cursor: pointer;

      &:hover {
        background: #ddd;
        color: black;
      }
    }
  }

  & p {
    font-size: 0.675rem;
    font-style: italic;
  }
}

.entryheader {
  margin-block: 0;

  button {
    background: unset;
    padding: unset;
    border: unset;
    font-size: 0.75rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    cursor: pointer;

    & svg {
      padding-bottom: 2px;
      margin-right: 0.5rem;
      transition: transform 200ms ease-out;

      [data-panel-open] > & {
        transform: rotate(45deg) scale(1.1);
      }
    }
  }
}

.entrypanel {
  padding-inline: 1.5rem;
  overflow: hidden;
  height: var(--accordion-panel-height);
  transition: height 200ms ease-out;

  &[data-starting-style],
  &[data-ending-style] {
    height: 0;
  }
}

.divider {
  margin-block: 1rem;
  margin-left: -1rem;
  width: calc(100% + 2rem);
  height: 1px;
  background: #ddd;
  border: none;
}

.entry {
  font-size: 0.75rem;

  & h3 {
    margin-bottom: 0.5rem;
    font-size: inherit;
    font-weight: unset;
    color: #555;
  }

  & p {
    margin-top: 0.5rem;
    /* Format entries as submitted in textarea, respecting \r\n etc. */
    white-space: pre-wrap;
  }

  &:not(:last-child) {
    border-bottom: 1px dotted #ddd;
  }
}

.empty {
  margin-bottom: 0;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
